@use '_variables.scss';

@font-face {
  font-family: 'Barcode';
  src: url('../fonts/Barcode.ttf');
}

.title {
  font-size: 4em;
  font-family: 'Barcode', 'Courier New', Courier, monospace;
}

.grid-title {
  background-color: var(--color-area-title);
  background-color: black;
}

.grid-gameboard {
  background-color: var(--color-area-gameboard);
  background: linear-gradient(#000 20%, magenta);
}

.gameboard {
  background: linear-gradient(cyan, yellow);
}

.grid-scoreboard {
  background-color: var(--color-area-scoreboard);
  background: linear-gradient(rgb(168, 13, 168), #000);
}

.scoreboard {
  text-align: center;
}

.game-button {
  background-color: black;
  border: none;
  &:disabled {
    border: .5rem dashed yellow;
    color: yellow;
  }
}

.title {
  color: yellow;
}